h1 {
  background-color: #a1b8a0;
}
h1 {
  padding: 70px;
  text-align: center;
  font-size: 60px;
}
.topnav{
background-color:#4D869C;
overflow:hidden;
}

.topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  width: 200px;
  box-sizing: border-box;
  margin: 20px auto; 
}

.topnav a:hover {
  background-color: #EDE8DC;
  color: black;
}
