h1 {
  background-color: #a1b8a0;
  padding: 70px;
  text-align: center;
  font-size: 60px;
  margin: 0;
}

h2 {
  font-size: 45px;
  text-align: left;
}

h3 {
  font-size: 35px;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Rockwell", "Arial", sans-serif;
  font-weight: normal;
}
body {
  margin: 0;
  padding: 0;
}
.beaker {
  float: left;
}

.topnav {
  background-color: #102905;
  justify-content: flex-start;
  display: flex;
  padding: 5px 0;
  width: 100%;
  position: relative;
  top: 0;
}

.topnav a {
  color: #f2f2f2;
  text-align: left;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 16px;
  width: flex-grow: 1;
  display: block;
  box-sizing: border-box;
}

.topnav a:hover,
.topnav a:focus {
  background-color: #d9ddde;
  color: #000000;
}
.portrait {
  float: right;
  gap: 10px;
  padding: 20px;
}
.content{
  font-size: 20px;
}
.container {
  display: flex;
  align-items: flex-start; /* Ensures both columns start at the top */
  width: 100%;
  max-width: 2000px;
  margin: 0 auto; /* Centers the content */
  padding: 20px;
}
.left-column {
  flex: 2; /* Takes up more space */
  max-width: 1300px;
}
.right-column {
  flex: 1; /* Takes up less space */
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Aligns images to the right */
  gap: 10px;
  padding: 20px;
  margin-right: 20px;
}
.zoom-link {
  display: inline-block;
  transition: transform 0.3s ease;
}

.zoom-link:hover {
  transform: scale(1.2);
}

.imagecaption {
  font-size: 15px;
  max-width: 250px;
  text-align: right;
}

.footer {
  text-align: center;
  padding: 3px;
  background-color: #a1b8a0;
  color: white;
}
  @media (max-width: 768px) {
  .right-column {
    margin-right: 10px; /* Smaller gap on mobile devices */
  }
  .container {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center-align on small screens */
  }

  .left-column, .right-column {
    max-width: 100%;
    text-align: center;
  }

  .imagecaption {
    text-align: center;
  }
}
