h1 {
  background-color: #a1b8a0;
}
h1 {
  padding: 70px;
  text-align: center;
  font-size: 60px;
}
.beaker {
  float:left;
}
h2 {
  font-size: 45px;
  text-align: left;
}
h1, h2, h3, h4, h5, h6, p {
  font-family: "rockwell", "Arial", sans-serif;
  font-weight: normal;
}
.topnav{
background-color:#102905;
overflow:hidden;
}

.topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  flex-wrap: wrap;
  font-size: 20px;
  width: 200px;
  box-sizing: border-box;
  margin: 20px auto;
}

.topnav a:hover {
  background-color: #d9ddde;
  color: black;
}
.topnav a: foucus {
  background-color: #d9ddde;
  color: black;
}
.sustainabilitygoals a {
  float: right;
}
.nasa a {
  float: right;
}
.container {
  display: grid;
  grid-template-columns: 60px 60px 60px 60px 60px;
  grid-template-rows: 30px 30px;
  grid-auto-flow: row;
}
.parent {
  display: grid;
  grid-template-columns: 90px 90px;
  justify-self:end;
}
.item1 {
  grid-column: 5;
  grid-row: 1;
}
.item1 {
  grid-column: 5;
  grid-row: 2;
}
